<h1>Listing URLs with Information</h1>
 
<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Favicon</th>
  </tr>
 
  <% @web_scrapes.each do |record| %>
    <tr>
      <td><%= record.url %></td>
      <td><%= record.title %></td>
      <td>
        <%if record.avatar.url.present? %>
          <%= image_tag(record.avatar.url(:thumb),class: 'img-responsive') %></td>
        <%else%>
          <%= image_tag("default.jpg", :size => "50x50") %>
        <% end %> 
      <td><%= link_to 'Delete', web_scraper_path(record),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>